<?xml version='1.0' encoding='utf-8'?>

<plugin id="cordova-plugin-gouhudong" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ghd</name>
    <js-module name="ghd" src="www/ghd.js">
        <clobbers target="cordova.plugins.ghd"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ghd">
                <param name="android-package" value="cordova-plugin-gouhudong.ghd"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/ghd.java" target-dir="src/cordova-plugin-gouhudong/ghd"/>
    </platform>
</plugin>